@{
    ViewData["Title"] = "Home Page";
}

<section class="container">

    <h3 class="mb-3">Products</h3>
    <a type="button" class="btn btn-info my-3" asp-controller="Products" asp-action="ProductAddEdit">Add Products</a>
    <div class="row">
        <div class="form-floating col-md-3 w-25 mb-3">
            <select class="form-control" id="categoryfilter" asp-items="@(new
                     SelectList(@ViewBag.Category,"CategoryId","CategoryName"))">
                <option value="0" selected>All category</option>
            </select>

            <label for="floatingInput" style="padding-left : 25px;">Category</label>
        </div>
        <div class=" form-floating col-md-3 w-25 mb-3">

            <input type="text" class="form-control" placeholder="search here...." id="generalSearch">
            <label for="floatingInput " style="padding-left : 25px;">Search </label>
        </div>


        <div class="form-floating w-100  col-md-3 mb-3">
            <select id="multiselect"  multiple="multiple" asp-items="@(new
                     SelectList(@ViewBag.Cities,"CityId","CityName"))" class="form-select chosen-select w-100" name="test">
            </select>

        </div>
      
    </div>
    <div id="productList">
    </div>
    
    @* <partial name="_ProductsList" /> *@
</section>


@section Scripts{

    <script>

        $(document).ready(function () {
            $('#multiselect').multiselect({ showSelectedValues: true });
        });
      
        var generalSearch = $('#generalSearch').val();
        var multiselectlist = $('#multiselect').val();
        var pageSize = $('#PageSize').val();
        function CategoryFilter(categoryfilter, generalSearch, multiselectlist, columnName, sorttype, page, pageSize, firstLoad) {
            var categoryId = GetParameterValues('CategoryId')
            if (categoryId && firstLoad) {
                document.getElementById('categoryfilter').value = categoryId;
                categoryfilter = categoryId;
            }

           
            $.ajax({
                url: '/Products/GetProductsByFilter',
                data: { categoryfilter: categoryfilter, generalSearch: generalSearch, multiselectlist: multiselectlist.toString(), columnName: columnName, sorttype: sorttype, page: page,pageSize : pageSize },
                success: function (response) {
                    $('#productList').html(response);
                    sortTypeIconVisiblity(columnName, sorttype);
                    $('#PageSize').val(pageSize);
                },
                error: function (e) {
                    console.log(e);
                }
            })
        }

        function sortTypeIconVisiblity(columnName, sortType) {

            if (columnName) {
                var idup = "#up-" + columnName;
                var iddown = "#down-" + columnName;
                if (sortType == "Asce") {
                    $(idup).show();
                    $(iddown).hide();
                } else {
                    $(idup).hide();
                    $(iddown).show();
                }
            }
        }

        function GetParameterValues(param) {
            var url = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');
            for (var i = 0; i < url.length; i++) {
                var urlparam = url[i].split('=');
                if (urlparam[0] == param) {
                    return urlparam[1];
                }
            }
        }

        function filterDataPagination(page) {
            categoryfilter = $('#categoryfilter').val();
            generalSearch = $('#generalSearch').val();
            multiselectlist = $('#multiselect').val();
            pageSize = $('#PageSize').val();
            CategoryFilter(categoryfilter, generalSearch, multiselectlist, "ProductId", "Asce", page, pageSize);
        }
        $('#multiselect').on('change', function () {
            multiselectlist = $('#multiselect').val();
            categoryfilter = $('#categoryfilter').val();
            generalSearch = $('#generalSearch').val();
            pageSize = $('#PageSize').val();
            CategoryFilter(categoryfilter, generalSearch, multiselectlist, "ProductId", "Asce", 1, pageSize);
        });
        function changePagesize(){
            multiselectlist = $('#multiselect').val();
            categoryfilter = $('#categoryfilter').val();
            generalSearch = $('#generalSearch').val();
            pageSize = $('#PageSize').val();
            CategoryFilter(categoryfilter, generalSearch, multiselectlist, "ProductId", "Asce", 1, pageSize);
        }
        
        $('#generalSearch').on('input', function () {
            multiselectlist = $('#multiselect').val();
            categoryfilter = $('#categoryfilter').val();
            generalSearch = $('#generalSearch').val();
            pageSize = $('#PageSize').val();
            CategoryFilter(categoryfilter, generalSearch, multiselectlist, "ProductId", "Asce", 1, pageSize);
        });
        $('#categoryfilter').on('change', function () {
            categoryfilter = $('#categoryfilter').val();
            multiselectlist = $('#multiselect').val();
            generalSearch = $('#generalSearch').val();
            pageSize = $('#PageSize').val();
            CategoryFilter(categoryfilter, generalSearch, multiselectlist, "ProductId", "Asce", 1, pageSize);
        });
        $(document).ready(function () {
            CategoryFilter(0, "", [], "ProductId", "Asce", 1, 5,true);
        });
        function sortcolumn(columnName, ascendingSort) {
            categoryfilter = $('#categoryfilter').val();
            multiselectlist = $('#multiselect').val();
            generalSearch = $('#generalSearch').val();
            pageSize = $('#PageSize').val();
            if (ascendingSort) {
                CategoryFilter(categoryfilter, generalSearch, multiselectlist, columnName, "Asce", 1, pageSize);
            } else {
                CategoryFilter(categoryfilter, generalSearch, multiselectlist, columnName, "Desc", 1, pageSize);
            }
        }

        
    </script>
}